<!doctype html>

<html>
  <head>
    <link rel="stylesheet" href="lib/style.css">
    <script src="lib/script.js"></script>
  </head>

  <body>
    <h3>Ana Link, Keywordleri ve Keywordlerin Yakin Anlamlilari</h3>
    <p>{{ analink }} =======>>>> {{ alka }} =======>>>> {{ esAnlamli }}</p>
    <h3>Linkler ve Ağaç Yapıları</h3><br>
    {% for x in range(rows) %}
        <p>{{ linkset[x] }}</p>
    {% endfor %}
    <br>
    <h3>Benzerlik Skor Sıralamaları</h3><br>

    {% for keys,values in dictAitems %}
        <p>{{ keys }} =======>>>> {{ values }}</p>
    {% endfor %}
    <br><br>

    <h3>Linkler ve Keywordleri</h3><br>
    {% for i in range(count) %}
        <p>{{ links[i] }} =======>>>> {{ keywords[i] }}</p>
    {% endfor %}

  </body>
</html>